extends base

block content

    .container
        .row
            h1.text-center Auditing SemMedDb Data

    .container
        .row
            .col-md-6.col-md-offset-4
                p
                    | Audit initiated... check system log for progress...
                    