extends base

block content

    .container
        .row
            h1.text-center Loading ABC Data Table

    .container
        .row
            .col-md-4.col-md-offset-4
                //- See also http://markusslima.github.io/bootstrap-filestyle/#
                form#loadABCFileForm.inline( 
                        action="/implicitome/loadabcfile", 
                        method="POST",
                        enctype="multipart/form-data"
                    )
                    input#load_abc_file.filestyle(
                        type="file" 
                        name="abc_file_to_load"
                        data-buttonText="Load ABC File"
                        data-buttonName="cmbutton"
                        data-size="sm"
                        data-buttonBefore="true"
                        data-badge="false"
                    )
                    br/
                    label.cmlabel(for="percentile", title="Percentile", style="display:inline;") % Threshhold:
                    input#percentile(
                      type='number'
                      name="percentile"
                      width="2"
                      defaultvalue="99"
                      placeholder="99"
                      min="0"
                      max="99"
                      value='99'
                      style="display:inline;"
                    )
                    br/
                    label.cmlabel(for="mode", title="Mode", style="display:inline;") Mode:&nbsp;
                    input#direct(
                      type='radio'
                      name='mode'
                      value='direct'
                      checked
                      style="display:inline;"
                    )
                    label.cmlabel(for="direct", title="Mode", style="display:inline;") Direct
                    input#sql(
                      type='radio'
                      name='mode'
                      value='sql'
                      style="display:inline;"
                    )
                    label.cmlabel(for="sql", title="Mode", style="display:inline;") SQL
                    input#abc_file_name(
                      type='hidden'
                      name="abc_file_name"
                      value=''
                    )
                    input#abc_file_data(
                      type='hidden'
                      name="abc_file_data"
                      value=''
                    )
                    - csrf_token
                    
    script(type='text/javascript')
    
        function errorHandler(evt) {
            switch(evt.target.error.code) {
              case evt.target.error.NOT_FOUND_ERR:
                alert('File Not Found!');
                break;
              case evt.target.error.NOT_READABLE_ERR:
                alert('File is not readable');
                break;
              case evt.target.error.ABORT_ERR:
                break; // noop
              default:
                alert('An error occurred reading this file.');
            }
        }
        
        function abcFileloaded(evt) {
            var abc_file_data = evt.target.result;
            $('#abc_file_data').attr( "value", abc_file_data ) ;
            $('#loadABCFileForm').submit() ;
        }
        
        function handleAbcFileSelect(evt) {
          var inputfile = evt.target.files[0];
          $('#abc_file_name').attr( "value", inputfile.name ) ;
          var reader = new FileReader();
          reader.onerror = errorHandler;
          reader.onload = abcFileloaded;
          reader.readAsText(inputfile, "UTF-8");
        }
        
        $(function() {
            document.getElementById('load_abc_file').addEventListener('change', handleAbcFileSelect, false);
        });
                    