extends base

block content

    .container
        .row
            h1.text-center Loading {{abc_file_name}} ABC Data Table (using {{percentile}} percentile threshhold)

    .container
        .row
            .col-md-6.col-md-offset-4
                p Check log file for progress...
                    