extends base

block content

    .container
        .row
            h1.text-center Loading In-Memory/TuplesMerged table Loading of {{abc_file_name}} ABC Data Table (using {{percentile}} percentile threshhold)
            h2.text-center. 
                p Warning: To run successfully, this algorithm needs: 
                ul
                    li A Huge (>60 GB) server memory space and 
                    li A sizeable (>50GB extra) of free space on the MySQL Data Volume!

    .container
        .row
            .col-md-6.col-md-offset-4
                p Check log file for progress...
                    