//-
    The MIT License (MIT)
    
    Copyright (c) 2015 Scripps Institute (USA) - Dr. Benjamin Good
                       Delphinai Corporation (Canada) / MedgenInformatics - Dr. Richard Bruskiewich
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    
//- load widget_tweaks

!!! 5
head

    script(src="#{STATIC_URL}js/libs/jquery-2.1.4.min.js")

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    block social-tags
        meta(name='description', content='Knowledge.Bio - An interactive resource for exploring biomedical literature and knowledge')
        meta(name='keywords', content='gbk, the scripps research institute, ben good, andrew su, biology, delphinai, richard bruskiewich')

        meta(name="google", content="notranslate")
        meta(name="robots",content="index,nofollow")
        meta(name="googlebot",content="index,nofollow")
        
        meta(name='author', content='Scripps Institute')
        meta(name='copyright', content='Scripps Institute, Delphinai Corporation')
        meta(name='application-name', content='Knowledge.Bio')
        
        meta(property='og:title', content='Knowledge.Bio')
        meta(property='og:type', content='article')
        meta(property='og:url', content='http://knowledge.bio')
        meta(property='og:description', content='Knowledge.Bio - An interactive resource for exploring biomedical literature and knowledge')

    block head-title
        title   Knowledge.Bio

    // favicon
    link(rel='icon', type='image/png', href='#{STATIC_URL}favicon.png')
    
    //- Libs
    link(rel='stylesheet', href='#{STATIC_URL}css/bootstrap.min.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/selectize.bootstrap3.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/introjs.min.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/introjs-nassim.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/odometer-theme-minimal.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/font-awesome.min.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/bootcards-desktop.min.css')

    //- Fonts
    link(rel='stylesheet', href='#{STATIC_URL}fonts/equity_text_b_regular/equity.css')
    link(rel='stylesheet', href='#{STATIC_URL}fonts/px-grotesk/PxGrotesk-font.css')
    link(rel='stylesheet', href='#{STATIC_URL}fonts/font-awesome/font-awesome.min.css')

    //- Site Styles
    link(rel='stylesheet', href='#{STATIC_URL}css/bootstrap-theme.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/document-style.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/jquery-ui-1.11.4.custom/jquery-ui.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/jquery.dataTables.extended.css')
    
    //- Colorbox Popup Window
    link(media="screen" rel='stylesheet', href='#{STATIC_URL}css/colorbox.css')

    link(rel='stylesheet', href='#{STATIC_URL}css/style.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/gbk.css')

    //- script(src="#{STATIC_URL}js/libs/filter-menu/jquery-treeselect-js/jquery.chosentree.js", type="text/javascript")
    //- script(src="#{STATIC_URL}js/libs/filter-menu/jquery-treeselect-js/jquery.treeselect.js", type="text/javascript")

    //- Filter Menu
    link(rel='stylesheet', href='#{STATIC_URL}css/jquery.bonsai.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/svg-icons.css')

    //- Qtip/Popups
    //- Use our custom for editing. Currently just removes "max-width".
    link(href="#{STATIC_URL}css/jquery.qtip.min.custom.css", rel="stylesheet", type="text/css")



    block post-head
    
    block analytics
    
        {{ analytics_code }}
        

  body
    block header
    
    block content

    block pre-footer

    block footer

        script(src='#{STATIC_URL}js/libs/jquery-ui.min.js')

        //- include includes/footer
        script(type='text/javascript' src='#{STATIC_URL}js/libs/jquery.qubit.js')
        script(type='text/javascript' src='#{STATIC_URL}js/libs/jquery.json-list.js')
        script(type='text/javascript' src='#{STATIC_URL}js/libs/jquery.bonsai.js')

        //- JQuery cookie code
        script(type='text/javascript' src='#{STATIC_URL}js/libs/js.cookie-2.0.3.min.js')

        script(src="#{STATIC_URL}js/libs/bootstrap.min.js")
        script(src="#{STATIC_URL}js/libs/underscore-min.js")
        script(src="#{STATIC_URL}js/libs/bootstrap-filestyle.min.js")
        script(src="#{STATIC_URL}js/libs/backbone-min.js")
        script(src='#{STATIC_URL}js/libs/underscore.string.min.js')
        script(src='#{STATIC_URL}js/libs/backbone-relational.js')
        script(src='#{STATIC_URL}js/libs/backbone.marionette.min.js')

        script(src='#{STATIC_URL}js/libs/d3.v3.js')
        script(src='#{STATIC_URL}js/libs/md5.js')
        script(src='#{STATIC_URL}js/libs/moment.js')
        script(src='#{STATIC_URL}js/libs/selectize.js')
        script(src='#{STATIC_URL}js/libs/intro.min.js')
        script(src='#{STATIC_URL}js/libs/odometer.min.js')

        script(src='#{STATIC_URL}js/ypet.js')
        script(src='#{STATIC_URL}js/app.js')

        script(charset='utf8', src='#{STATIC_URL}js/libs/jquery.dataTables.js')
        script(src='#{STATIC_URL}js/libs/raven.js')

        script(src='#{STATIC_URL}js/libs/cola.v3.min.js')

        script(src="#{STATIC_URL}js/gbk.js")

        script(type='text/javascript').
            //- force a redraw
            $().hide().show(0)

    block post-footer

    block modals


