extends simple_base

block post-head

    script(type='text/javascript').
        $(function() {
            $('#title_prefix').empty().append("Contact Us About<br>") ;  
        });
        
block content 
    body 
        .container-fluid.contact-background
                .col-md-10.col-md-offset-1
                    .row
                        h3(style="text-align:center;") Contacting Us
                    .row
                        p
                            | We would love to hear from you! This project is just getting started
                            | so any ideas you share now could have a huge impact on its success.
                    .row
                            p(style="text-align:center;") Let us know what you think!
                    .row
                            p(style="text-align:center;")
                                | Email 
                                a.link-accent-on-light(href="mailto:bgood@scripps.edu") Ben
                    .row
                            p(style="text-align:center;")
                                a.link-accent-on-light(href="http://sulab.org/contact-us/") Visit the lab contact page
                    .row
                            p.text-accent-on-light(style="text-align:center;") 
                                | Knowledge.Bio
                    .row
                            p(style="text-align:center;")
                                | &nbsp;is an&nbsp; 
                                a.link-accent-on-light(href="https://bitbucket.org/starinformatics/gbk") open source collaboration
                                | &nbsp; of the&nbsp; 
                    .row
                            p(style="text-align:center;")
                                a.link-accent-on-light(href="http://sulab.org/") Su Laboratory
                                | &nbsp;at&nbsp; 
                                a.link-accent-on-light( href="https://www.scripps.edu/") The Scripps Research Institute
                            p(style="text-align:center;")
                                | (10550 North Torrey Pines Road, La Jolla, CA 92037)&nbsp;
                    .row
                            p(style="text-align:center;") and of
                    .row
                            p(style="text-align:center;")
                                a.link-accent-on-light(href="http://starinformatics.com") Star Informatics / Delphinai Corporation (Canada)
                            p(style="text-align:center;")
                                | (104 - 2003 Clarke Street, Port Moody, BC, Canada V3H 4K2)&nbsp;
                    .row
                            h4(style="text-align:center;") Disclaimers
                    .row
                        p 1. This resource is intended for purely research, educational and entertainment purposes. It should not be used for medical or professional advice.
                    .row
                        p 2. Unless otherwise noted, all non-personally identifiable data entered into this site is stored in a database that will be publicly accessible.

