//-
    The MIT License (MIT)
    
    Copyright (c) 2015 Scripps Institute (USA) - Dr. Benjamin Good
                       Delphinai Corporation (Canada) / MedgenInformatics - Dr. Richard Bruskiewich
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
    
//- load widget_tweaks

!!! 5
head
    meta(charset='utf-8')
    meta(name='Description', content='Knowledge.Bio - An interactive resource for exploring biomedical literature and knowledge')
    meta(name='keywords', content='gbk, the scripps research institute, ben good, andrew su, biology, delphinai, richard bruskiewich')
    
    meta(name="robots",content="index,follow")
    meta(name="googlebot",content="index,follow")
    
    meta(name='author', content='Scripps Institute')
    meta(name='copyright', content='Scripps Institute, Delphinai Corporation')
    meta(name='application-name', content='Knowledge.Bio')
    
    meta(property='og:title', content='Knowledge.Bio')
    meta(property='og:type',  content='article')
    meta(property='og:url',   content='http://knowledge.bio')
    meta(property='og:description', content='Knowledge.Bio - An interactive resource for exploring biomedical literature and knowledge')
    
    block head-title
      title Knowledge.Bio

    block post-head
    
body
    block header
        include includes/simple_header
    
    block content

    block pre-footer

    block footer

    block post-footer

    block modals

