extends base

block content

    .container
        .row
            .jumbotron
                h1.text-center Navigate the Knowledge Base Concept Map

    .container
        .row
            .col-md-6.col-md-offset-4
                form.form-horizontal(action="/navigate/browse" method="post")
                    .form-group
                        h3 Navigate
                        input(
                          type='text'
                          name='query'
                        )
                        input.btn.btn-default(
                          type='submit'
                          value='submit'
                        )
                        - csrf_token
