extends base

block content

    .container
        .row
            h1.text-center Loading UMLS Data Table

    .container
        .row
            .col-md-6.col-md-offset-4
                #umlsloadnotification Check back on this page for the completion of loading.
                    