@font-face {
  font-family: 'equity';
  src: url('equity_text_b_regular.eot');
  src: url('equity_text_b_regular.eot?#iefix') format('embedded-opentype'),
       url('equity_text_b_regular.woff') format('woff'),
       url('equity_text_b_regular.ttf') format('truetype'),
       url('equity_text_b_regular.svg#equity_text_bregular') format('');
}
