extends base

block content

    .container
        .row
            .jumbotron
                h1.text-center Search the Knowledge Base

//Code for the advanced search page
    .container
        .row
            .col-md-6.col-md-offset-4
                form.form-horizontal(action="/query/search" method="post")
                    .form-group
                        h3 Query
                        input(
                          type='text'
                          name='query'
                        )
                        input.btn.btn-default(
                          type='submit'
                          value='submit'
                        )
                        - csrf_token
                    .form-group
                        input(
                          checked
                          type='radio'
                          name='mode'
                          value='text'
                          )
                        label Concepts by Text Description
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='exptext'
                          )
                        label Explicit Concepts by Text Description
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='imptext'
                          )
                        label Implicit Concepts by Text Description
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='cui'
                        )
                        label Explicit Relations by Concept Identifier
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='aliases'
                        )
                        label Implicit Relations by Concept Identifier
                        br/
                        input(
                          type='radio'
                          name='mode'
                          value='pmid'
                        ) 
                        label Relations by PubMed ID
                
