extends base

block content

    .container
        .row
            .jumbotron
                h1.text-center Report
                h2.text-center tpp1 total  : {{tpp1_total}}
                h2.text-center adcy5 total : {{adcy5_total}}
