extends base

block content

    .container
        .row
            .jumbotron
                h1.text-center Report
                h2.text-center tpp1 total  : {{tpp1_total}}
                h3.text-center tpp1 subject counts  : {{tpp1_subjectTypeCounts}}
                h3.text-center tpp1 object counts  : {{tpp1_objectTypeCounts}}
                h2.text-center adcy5 total : {{adcy5_total}}
                h3.text-center adcy5 subject counts : {{adcy5_subjectTypeCounts}}
                h3.text-center adcy5 object counts : {{adcy5_objectTypeCounts}}
