extends base

block content
    .row
        h2.text-center
            #result_title
    .row
        .col-sm-2.col-sm-offset-1
            a(href='/').btn.btn-default.btn-inverse New Search...
            p   
    .row
        .col-sm-10.col-sm-offset-1
            #result_div
    
block post-footer
    script(type='text/javascript').
    
        var mode     = '{{mode}}' ;
        var query    = '{{query}}' ;
        var aliases  = '{{aliases}}' ;
        var name     = '{{name}}' ;
        
        /* Clever way to capture the available 
           CSRF token for use by DataTable? */
        var csrf_token  = '{{ csrf_token }}' ;
        
        /*
        alert(
            "query/results.jade:"+
            "\n\tmode       = "+ mode.toString() +
            "\n\tquery      = "+ query.toString() +
            "\n\taliases    = "+ aliases.toString() +
            "\n\tname       = "+ name.toString() +
            "\n\tcsrf_token = "+ csrf_token.toString()
        )
        */
        
    script(src="#{STATIC_URL}js/gbk_results.js")
            
