#footer.container.head-space-xl
    .navbar.navbar-fixed-bottom
        .container-fluid.footer
            .col-sm-1.col-sm-offset-1
                .navbar-brand
                    a( href="https://www.scripps.edu/")
                        img(
                            src="#{STATIC_URL}images/scripps_logo_dark_background.png"
                            width="105px"
                            height="75px"
                        )
            .col-sm-1.col-sm-offset-8
                .navbar-brand
                    a( href="http://starinformatics.com")
                        img.white-canvas(
                            src="#{STATIC_URL}images/starinformatics-logo.png" 
                            width="124px"
                            height="50px"
                            style="display: table-cell; vertical-align: middle; margin-left: auto;margin-right: auto;"
                        )

