.navbar.navbar-inverse.navbar-default
  .container-fluid
    .navbar-header
        a.navbar-brand(title = "Knowledge.Bio" href="/")
                img(
                    src="#{STATIC_URL}images/knowledge_bio.jpg"
                    width="40px"
                    height="30px"
                    style="align:left;display:inline;padding-right:10px;"
                )
                | Knowledge.
                span Bio
    ul.nav.navbar-nav.navbar-right
        li
            a( href="https://www.scripps.edu/")
                img(
                    src="#{STATIC_URL}images/scripps_logo_dark_background.png"
                    width="40px"
                    height="30px"
                )
        li
            a( href="http://starinformatics.com")
                img.white-canvas(
                    src="#{STATIC_URL}images/starinformatics-logo.png" 
                    width="75px"
                    height="30px"
                    style="display: table-cell; vertical-align: middle; margin-left: auto;margin-right: auto;"
                )
                
