@font-face {
  font-family: 'Px Grotesk Light';
  src: url('PxGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('PxGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PxGrotesk-Light.woff') format('woff'), /* Modern Browsers */
       url('PxGrotesk-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PxGrotesk-Light.svg#1a4c10eeacc188c4a18294755cd99f20') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Px Grotesk Light Italic';
  src: url('PxGrotesk-LightIta.eot'); /* IE9 Compat Modes */
  src: url('PxGrotesk-LightIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PxGrotesk-LightIta.woff') format('woff'), /* Modern Browsers */
       url('PxGrotesk-LightIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PxGrotesk-LightIta.svg#00b34757bd765fe995b4f20b31f7333a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

